In [1]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Users/benrivera/opt/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /Users/benrivera/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:

import pandas as pd
import numpy as np
path = r'/Users/benrivera/Library/Mobile Documents/com~apple~CloudDocs/School/ERM 412/Original FIle/Animal_Control_Incidents_OG.xlsx'

animal_inc = pd.read_excel(path)
animal_inc

,FILE NUMBER,INCIDENT DATE,INCIDENT TIME,DISPATCHED TIME,CALL TAKER,DISPATCHER,DISPATCHED OTHER,DISPATCHED SITUATION,ARRIVAL TIME,AVAILABLE TIME,...,COLLAR,COLLAR COLOR,VACCINATION NUMBER,VACCINATION DATE,PET NAME,DISPOSITION,DISPOSITION DATE,DISPOSITION OFFICER,Unnamed: 38,Response Time
0,201639027,2016-12-27,15:30:00,16:06:00,UNKNOWN,JENNIFER G,0,D,16:17:00,16:38:00,...,NYLON,RED,NaN,NaN,NaN,TRANS CAA,2016-12-27 00:00:00,FRANK S,NaN,00:47:00
1,201639044,2016-12-28,10:06:00,10:07:00,UNKNOWN,JENNIFER G,0,D,10:15:00,10:23:00,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,RETURN TO WILD,2016-12-28 00:00:00,TRAVIS R,NaN,00:09:00
2,201639036,2016-12-28,09:03:00,09:03:00,UNKNOWN,JENNIFER G,0,D,09:27:00,09:45:00,...,LEATHER,PINK,NaN,NaN,NaN,TRANS CAA,2016-12-28 00:00:00,ISAAC S,NaN,00:24:00
3,202087899,2020-08-30,13:39:00,00:00:00,UNKNOWN,UNKNOWN,0,D,00:00:00,16:52:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1899-12-28 10:21:00
4,201639059,2016-12-28,15:05:00,15:45:00,UNKNOWN,JENNIFER G,0,D,16:07:00,16:25:00,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TRANS CAA,2016-12-28 00:00:00,SUE H,NaN,01:02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119970,2022110287,2022-11-21,14:07:00,15:09:00,UNKNOWN,UNKNOWN,0,D,15:09:00,16:18:00,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TRANS CAA,NaN,IT,NaN,01:02:00
119971,2022110287,2022-11-21,14:07:00,15:09:00,UNKNOWN,UNKNOWN,0,D,15:09:00,16:18:00,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TRANS CAA,NaN,IT,NaN,01:02:00
119972,2022110391,2022-11-24,05:28:00,06:17:00,UNKNOWN,UNKNOWN,0,D,06:17:00,07:18:00,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TRANS CAA,NaN,JL,NaN,00:49:00
119973,2022110401,2022-11-26,14:31:00,14:33:00,ALLISON E C,UNKNOWN,0,D,14:33:00,15:54:00,...,UNKNOWN,UNKNOWN,NaN,NaN,EASY,TRANS CAA,NaN,JL,NaN,00:02:00
119974,2022110922,2022-12-07,15:03:00,15:06:00,UNKNOWN,UNKNOWN,0,D,15:06:00,16:04:00,...,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TRANS CAA,NaN,IT,NaN,00:03:00


Data Cleaning

In [3]:
#This removes missing values
animal_inc = animal_inc.dropna(subset=['SPECIES', 'BREED', "TEMPERMENT", 'SEX'])
#reseting the index
animal_inc2 = animal_inc.reset_index(drop=True)
#drops certain columns
animal_inc2 = animal_inc2.drop(['COLLAR', 'VACCINATION NUMBER', 'COLLAR COLOR', 'AGE', "VACCINATION DATE", "PET NAME"], axis = 1)

animal_inc2

,FILE NUMBER,INCIDENT DATE,INCIDENT TIME,DISPATCHED TIME,CALL TAKER,DISPATCHER,DISPATCHED OTHER,DISPATCHED SITUATION,ARRIVAL TIME,AVAILABLE TIME,...,SEX,SIZE,COLOR,CONDITION,TEMPERMENT,DISPOSITION,DISPOSITION DATE,DISPOSITION OFFICER,Unnamed: 38,Response Time
0,201639027,2016-12-27,15:30:00,16:06:00,UNKNOWN,JENNIFER G,0,D,16:17:00,16:38:00,...,F,LARGE,BLK/WHT,FAIR,FRIENDLY,TRANS CAA,2016-12-27 00:00:00,FRANK S,NaN,00:47:00
1,201639044,2016-12-28,10:06:00,10:07:00,UNKNOWN,JENNIFER G,0,D,10:15:00,10:23:00,...,U,LARGE,GRAY,FAIR,NORMAL,RETURN TO WILD,2016-12-28 00:00:00,TRAVIS R,NaN,00:09:00
2,201639036,2016-12-28,09:03:00,09:03:00,UNKNOWN,JENNIFER G,0,D,09:27:00,09:45:00,...,M,LARGE,BRINDLE/WHT,EMACIATED,UNKNOWN,TRANS CAA,2016-12-28 00:00:00,ISAAC S,NaN,00:24:00
3,201639059,2016-12-28,15:05:00,15:45:00,UNKNOWN,JENNIFER G,0,D,16:07:00,16:25:00,...,F,SMALL,BRWN,EMACIATED,NORMAL,TRANS CAA,2016-12-28 00:00:00,SUE H,NaN,01:02:00
4,201639043,2016-12-28,10:03:00,10:10:00,UNKNOWN,JENNIFER G,0,D,10:35:00,10:52:00,...,F,EXTRA LARGE,BLK/BRWN,GOOD,FRIENDLY,TRANS CAA,2016-12-28 00:00:00,ISAAC S,NaN,00:32:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48267,2022110287,2022-11-21,14:07:00,15:09:00,UNKNOWN,UNKNOWN,0,D,15:09:00,16:18:00,...,F,SMALL,BRWN/BLK,EMACIATED,FRIENDLY,TRANS CAA,NaN,IT,NaN,01:02:00
48268,2022110287,2022-11-21,14:07:00,15:09:00,UNKNOWN,UNKNOWN,0,D,15:09:00,16:18:00,...,M,SMALL,BRWN/BLK,FAIR,FRIENDLY,TRANS CAA,NaN,IT,NaN,01:02:00
48269,2022110391,2022-11-24,05:28:00,06:17:00,UNKNOWN,UNKNOWN,0,D,06:17:00,07:18:00,...,U,MEDIUM,WHITE,GOOD,NERVOUS,TRANS CAA,NaN,JL,NaN,00:49:00
48270,2022110401,2022-11-26,14:31:00,14:33:00,ALLISON E C,UNKNOWN,0,D,14:33:00,15:54:00,...,M,LARGE,BLK/TAN,FAIR,NERVOUS,TRANS CAA,NaN,JL,NaN,00:02:00
48271,2022110922,2022-12-07,15:03:00,15:06:00,UNKNOWN,UNKNOWN,0,D,15:06:00,16:04:00,...,F,MEDIUM,WHT/BRWN,EMACIATED,FRIENDLY,TRANS CAA,NaN,IT,NaN,00:03:00

In [19]:




animal_inc2 = animal_inc2.replace(['XLABRADOR', 'XRETRIEVER', 'RETRIEVER', 'X RETRIEVER'], 'LABRADOR RETRIEVER')
aniaml_inc2 = animal_inc2.BREED.replace(['PIT', 'XPIT', 'XPIT BULL'], ['PITBULL','PITBULL', 'PITBULL'])
animal_inc2 = animal_inc2.replace(['XGERMAN SHEPHERD', 'X GERMAN SHEPHERD', 'XSHEPHERD', 'GERMAN SHEPHERD', 'GERMAN SHEPERDS'], 'GERMAN SHEPHERD')


animal_inc2.BREED

0                  PITBULL
1                   POSSUM
2                  PITBULL
3        YORKSHIRE TERRIER
4        DOBERMAN PINSCHER
               ...
48267              XBEAGLE
48268              XBEAGLE
48269               RABBIT
48270      GERMAN SHEPHERD
48271              PITBULL
Name: BREED, Length: 48272, dtype: object

In [ ]:
animal_inc =animal_inc.drop(animal_inc[animal_inc["BREED"] == ""].index)

animal_inc =animal_inc.drop(animal_inc[animal_inc["SPECIES"] == "UNKNOWN"].index)

animal_inc =animal_inc.drop(animal_inc[animal_inc["SEX"] == "U"].index)

Data Analysis

In [20]:

#Started out by grouping the data by the breed of the animal
data_group = animal_inc2.groupby(['BREED'])
dataAgg = data_group.aggregate(['count'])[['FILE NUMBER']]
dataAgg.sort_values(by = ('FILE NUMBER', 'count'), ascending = False).head(10)

#dataAgg

                   FILE NUMBER
                         count
BREED
PITBULL                  10953
DSH                       7446
LABRADOR RETRIEVER        4446
POSSUM                    4413
RACCOON                   3188
GERMAN SHEPHERD           2723
TERRIER                   2463
PIT                       1629
XHOUND                     575
CHIHUAHUA                  498

In [92]:
#animal_inc2.to_excel(r'/Users/benrivera/Library/Mobile Documents/com~apple~CloudDocs/School/ERM 412/Animal_Control_Incidents.xlsx', index= False)
animal_inc.to_excel(r'/Users/benrivera/Library/Mobile Documents/com~apple~CloudDocs/School/ERM 412/Original FIle/Animal_Control_Incidents_OG.xlsx', index= False)