In [1]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Users/benrivera/miniforge3/envs/ML/lib/python3.9/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/benrivera/miniforge3/envs/ML/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
#Importing necessary packages
import pandas as pd
import numpy as np
#save the file path
path = r'/Users/benrivera/Library/Mobile Documents/com~apple~CloudDocs/School/ERM 412/Original FIle/Animal_Control_Incidents_OG.xlsx'
#read the file and store into a value
animal_inc = pd.read_excel(path)


Data Cleaning

In [36]:
#This removes missing values
animal_inc = animal_inc.dropna(subset=['SPECIES', 'BREED', "TEMPERMENT", 'SEX'])
#reseting the index
animal_inc2 = animal_inc.reset_index(drop=True)
#drops certain columns I feel do not help with
animal_inc2 = animal_inc2.drop(['COLLAR', 'VACCINATION NUMBER', 'COLLAR COLOR', 'AGE', "VACCINATION DATE", "PET NAME", "DISPATCHED OTHER", 'CALL TAKER', 'DISPATCHED SITUATION', 'DISPATCHER', 'OFFICER', 'DISPOSITION OFFICER', 'REMARKS', 'DISPOSITION', 
                                'DISPOSITION DATE', 'SERVICE CODE', 'Unnamed: 38', 'EQUIPMENT NUMBER', 'AVAILABLE TIME', 'IMPOUND TIME'], axis = 1)

animal_inc2

,FILE NUMBER,INCIDENT DATE,INCIDENT TIME,DISPATCHED TIME,ARRIVAL TIME,COMPLAINANT STREET,REQUEST TYPE,IMPOUND NUMBER,IMPOUND DATE,LOCATION,MUNICIPALITY,ZIP CODE,SPECIES,BREED,SEX,SIZE,COLOR,CONDITION,TEMPERMENT,Response Time
0,201639027,2016-12-27,15:30:00,16:06:00,16:17:00,SYCAMORE ST,CRUELTY CASE,72536.0,2016-12-27,3366 SYCAMORE,BATON ROUGE,70805.0,DOG,PITBULL,F,LARGE,BLK/WHT,FAIR,FRIENDLY,00:47:00
1,201639044,2016-12-28,10:06:00,10:07:00,10:15:00,WOODLAND RIDGE BL,TRAPPED ANIMAL,72414.0,2016-12-28,2582 WOODLAND RIDGE,BATON ROUGE,70816.0,WILDLIFE,POSSUM,U,LARGE,GRAY,FAIR,NORMAL,00:09:00
2,201639036,2016-12-28,09:03:00,09:03:00,09:27:00,MAIN ST,STRAY ANIMAL SECURED,70587.0,2016-12-28,4463 MAIN,ZACHARY,70791.0,DOG,PITBULL,M,LARGE,BRINDLE/WHT,EMACIATED,UNKNOWN,00:24:00
3,201639059,2016-12-28,15:05:00,15:45:00,16:07:00,VAN BUREN ST,STRAY ANIMAL SECURED,71349.0,2016-12-28,299 VAN BUREN,BATON ROUGE,70714.0,DOG,YORKSHIRE TERRIER,F,SMALL,BRWN,EMACIATED,NORMAL,01:02:00
4,201639043,2016-12-28,10:03:00,10:10:00,10:35:00,MARIONETTE DR,OWNER SIGNED RELEASE,70589.0,2016-12-28,6621 MARIONETTE,BATON ROUGE,70811.0,DOG,DOBERMAN PINSCHER,F,EXTRA LARGE,BLK/BRWN,GOOD,FRIENDLY,00:32:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48267,2022110287,2022-11-21,14:07:00,15:09:00,15:09:00,AVENUE C,CRUELTY CASE,127634.0,2022-11-21,4607 AVENUE C,ZACHARY,70791.0,DOG,XBEAGLE,F,SMALL,BRWN/BLK,EMACIATED,FRIENDLY,01:02:00
48268,2022110287,2022-11-21,14:07:00,15:09:00,15:09:00,AVENUE C,CRUELTY CASE,127635.0,2022-11-21,4607 AVENUE C,ZACHARY,70791.0,DOG,XBEAGLE,M,SMALL,BRWN/BLK,FAIR,FRIENDLY,01:02:00
48269,2022110391,2022-11-24,05:28:00,06:17:00,06:17:00,MEAD RD,UNIT STANDING BY,126780.0,2022-11-24,11070 MEAD,BATON ROUGE,70816.0,WILDLIFE,RABBIT,U,MEDIUM,WHITE,GOOD,NERVOUS,00:49:00
48270,2022110401,2022-11-26,14:31:00,14:33:00,14:33:00,ILLINOIS ST,CRUELTY RECHECK,126779.0,2022-11-26,2812 ILLINOIS,BATON ROUGE,70802.0,DOG,GERMAN SHEPERDS,M,LARGE,BLK/TAN,FAIR,NERVOUS,00:02:00
48271,2022110922,2022-12-07,15:03:00,15:06:00,15:06:00,26TH ST,CRUELTY CASE,127666.0,2022-12-07,1475 26TH,BATON ROUGE,70802.0,DOG,PITBULL,F,MEDIUM,WHT/BRWN,EMACIATED,FRIENDLY,00:03:00

In [47]:




animal_inc2 = animal_inc2.replace(['XLABRADOR', 'XRETRIEVER', 'RETRIEVER', 'X RETRIEVER'], 'LABRADOR RETRIEVER')
aniaml_inc2 = animal_inc2.replace(['PIT', 'XPIT', 'XPIT BULL'], 'PITBULL') #Still shows "PIT", need to fix this
animal_inc2 = animal_inc2.replace(['XGERMAN SHEPHERD', 'X GERMAN SHEPHERD', 'XSHEPHERD', 'GERMAN SHEPHERD', 'GERMAN SHEPERDS'], 'GERMAN SHEPHERD')


animal_inc2.BREED

0                  PITBULL
1                   POSSUM
2                  PITBULL
3        YORKSHIRE TERRIER
4        DOBERMAN PINSCHER
               ...
48267              XBEAGLE
48268              XBEAGLE
48269               RABBIT
48270      GERMAN SHEPHERD
48271              PITBULL
Name: BREED, Length: 48272, dtype: object

In [48]:
animal_inc =animal_inc.drop(animal_inc[animal_inc["BREED"] == ""].index)

animal_inc =animal_inc.drop(animal_inc[animal_inc["SPECIES"] == "UNKNOWN"].index)

animal_inc =animal_inc.drop(animal_inc[animal_inc["SEX"] == "U"].index)

Data Analysis

In [49]:

#Started out by grouping the data by the breed of the animal
data_group = animal_inc2.groupby(['BREED'])
dataAgg = data_group.aggregate(['count'])[['FILE NUMBER']]
dataAgg.sort_values(by = ('FILE NUMBER', 'count'), ascending = False).head(10)

#dataAgg

                   FILE NUMBER
                         count
BREED
PITBULL                  10953
DSH                       7446
LABRADOR RETRIEVER        4446
POSSUM                    4413
RACCOON                   3188
GERMAN SHEPHERD           2723
TERRIER                   2463
PIT                       1629
XHOUND                     575
CHIHUAHUA                  498

In [92]:
#animal_inc2.to_excel(r'/Users/benrivera/Library/Mobile Documents/com~apple~CloudDocs/School/ERM 412/Animal_Control_Incidents.xlsx', index= False)
animal_inc.to_excel(r'/Users/benrivera/Library/Mobile Documents/com~apple~CloudDocs/School/ERM 412/Original FIle/Animal_Control_Incidents_OG.xlsx', index= False)